<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/15-LeetCode/Visa_HackerRanker_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import os
import pandas as pd
import numpy as np
import re
from sklearn.impute import SimpleImputer

In [26]:
column_names = ['student_id','math_score','reading_score','writing_score']
df = pd.DataFrame(columns = column_names)

df = df.append({'student_id': 'ujlsq7296726iyzru', 'math_score': 75.0, 'reading_score': 69.0,'writing_score':68.0}, ignore_index=True)
df = df.append({'student_id': 'zdcku34151cfkek'}, ignore_index=True)
df = df.append({'student_id': 'anlya8548116kqokl', 'math_score': 72.0, 'reading_score': 80.0,'writing_score':75.0}, ignore_index=True)
df = df.append({'student_id': 'ykucw6122786vejtt', 'math_score': 79.0, 'reading_score': 78.0,'writing_score':77.0}, ignore_index=True)

In [17]:
df

          student_id  math_score  reading_score  writing_score
0  ujlsq7296726iyzru        75.0           69.0           68.0
1    zdcku34151cfkek         NaN            NaN            NaN
2  anlya8548116kqokl        72.0           80.0           75.0
3  ykucw6122786vejtt        79.0           78.0           77.0

In [27]:
df.dropna(axis=0, subset=['math_score','reading_score','writing_score'], thresh=2, inplace= True )

In [19]:
df

          student_id  math_score  reading_score  writing_score
0  ujlsq7296726iyzru        75.0           69.0           68.0
2  anlya8548116kqokl        72.0           80.0           75.0
3  ykucw6122786vejtt        79.0           78.0           77.0

In [28]:
def numbers(element):    
    return "".join(filter(str.isnumeric, element))

In [29]:
df['student_id'] = df['student_id'].apply(numbers)
df

  student_id  math_score  reading_score  writing_score
0    7296726        75.0           69.0           68.0
2    8548116        72.0           80.0           75.0
3    6122786        79.0           78.0           77.0

In [31]:
df.fillna(df['math_score'].median(), inplace = True)
df.fillna(df['reading_score'].median(), inplace = True)
df.fillna(df['writing_score'].median(), inplace = True)

In [33]:
df['weighted_average'] = (df['math_score']*0.5  + df['reading_score']*0.2 +df['writing_score']*0.3)

In [34]:
df

  student_id  math_score  reading_score  writing_score  weighted_average
0    7296726        75.0           69.0           68.0              71.7
2    8548116        72.0           80.0           75.0              74.5
3    6122786        79.0           78.0           77.0              78.2